@media only screen and (min-width: 350px) {
.Information_introduction article{
  height:670px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 520px) {
.Information_introduction article{
  height:490px;
  margin-bottom: 40px;
}


@media only screen and (min-width: 750px) {

/*font sizes*/

.Introduction_ADEP p a{
  font-size: 18px;
}


 body{
  font-size: 18px;
 }

 h3{
  font-size: 45px;
  font-weight: bold;
 }

 h4{
  font-size: 22px;
 }


 h5{
  font-size: 20px;
 }

/*HEADER*/
  #header{
    text-align: none;
    height:75px;
  }

 .logos-150px{
   margin:15px 40px 0;
   display:inline-block;
 }
  .logos-300px{
    margin:0;
    display:none;
  }

  .navbar{
    margin-right: 20px;
    position:absolute;
    right:0;
  }


/*CORPS DE TEXTE*/

/**************************************
                INDEX
**************************************/

  #background_simplon{
    width:750px;
    margin:0 auto;
  }

  .Je_m_informe{
    width:45%;
    top:0;
  }

  .Je_candidate{
    width:45%;
    top:0;
  }

  .Je_m_informe button{
    bottom:0;
  }

  .Je_candidate button{
    bottom:0;
  }


  .etapes_candidatures{
    display:flex;
    flex-wrap: wrap;
  }

  .etape_1{
    width:45%;
    margin:0 2.5%;
  }

  .etape_2{
    width:45%;
    margin:0 2.5%;
  }

  /**************************************
                  CONTACT
  **************************************/

  .google_map #gmap_canvas{
    margin: auto;
    width:600px;
  }



/*FOOTER*/


  .container_bottom{
    display:flex;
    flex-wrap: wrap;
    width:850px;
    margin:auto;
  }

  #logos_bottom {
    margin:auto;
  }

  .reseaux_sociaux{
    border-left: 3px solid white;
  }

/*Accueil*/

  .Information_introduction article{
    height:450px;
    border:none;
  }

}


/**************************************
                ADEP
**************************************/




@media only screen and (min-width:1280px) {


  #background_simplon{
    width:1050px;
    margin:0 auto;
  }

  .Je_m_informe{
    width:45%;
    margin:0 2.5%;
    top:0;
  }

  .Je_candidate{
    width:45%;
    margin:0 2.5%;
    top:0;
  }

  .Je_m_informe button{
    bottom:0;
  }

  .Je_candidate button{
    bottom:0;
  }

  video {
    height:557px;
  }

  .Information_introduction article{
    height:380px;
    margin-bottom: 60px;
  }


  /****************************
            CONTACT
  ****************************/


  .profil_contact{
    width:40%;
    font-size: 20px;
  }

  .formulaire_contact{
    width:40%;
  }

  .google_map article{
    width:40%;
  }

  /****************************
            ADEP
  ****************************/

  .Introduction_ADEP:nth-child(1+2){

    width:45%;
    padding:20px;

  }


  .Introduction_ADEP{
    display:flex;
    flex-wrap: wrap;
    padding:0 20px;
    margin-bottom: 60px;
  }

  .Introduction_ADEP p{
    width:45%;
    margin: 0 2.5%;
  }

  .Introduction_ADEP figure{
    width:45%;
    margin: 0 2.5%;
  }

  .Mid_ADEP{
    display: flex;
    flex-wrap: wrap;
  }

  .Mid_ADEP article{
    width:50%;
    margin: auto;
  }

  .Mid_ADEP article p{
    margin-bottom: 80px;
  }

  .Mid_ADEP div {
    text-align: center;
  }

  .Media_Lab{
    text-align: center;
    padding:35px;
    width:30%;
    font-size: 20px;
  }

  .Media_Lab figure{
    margin:15px auto 70px;
  }

}
